* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.login-register {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Set width to cover viewport width */
  height: 100vh; /* Set height to cover viewport height */
  z-index: 1;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../images//back.jpg);
}
.login-register video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures video fills entire viewport */
}

.login-container {
  width: 30%;
  position: fixed;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(15, 12, 41, 1),
    rgba(48, 43, 99, 1),
    rgba(36, 36, 62, 1)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: opacity 2s ease-in-out;
}

.googleLogin {
  display: flex;
  flex-direction: column;
}

.googleLogin button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: wheat;
}
.googleLogin a {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: wheat;
}

.google {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 10px;
}

.phone {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 20px;
}

.googleLogin a {
  text-decoration: none;
}
.googleLogin button:hover {
  background: linear-gradient(to right, #141e30, #243b55);
}
.googleLogin a:hover {
  background: linear-gradient(to right, #141e30, #243b55);
}
.googleLogin .phone img {
  width: 50px;
  height: 50px;

  object-fit: cover;
  padding: 10px;
  border-radius: 50%;
}
.googleLogin .google img {
  width: 50px;
  height: 50px;

  object-fit: cover;
  padding: 10px;
  border-radius: 50%;
}

@media only screen and (max-width: 480px) {
  .login-container {
    width: 80%; /* Adjust width for smaller screens */
  }
  .form-group input[type="submit"],
  .form-group input[type="button"] {
    font-size: 0.8em; /* Adjust font size for smaller screens */
  }
}
